[v-cloak] {
	display: none
}

* {
	margin: 0;
	padding: 0;
	outline: none;
}

*:not(input, textarea) {
	-webkit-touch-callout: inherit;
	-webkit-user-select: auto;
}

body {
	width: 100%;
	font-family: Hiragino Sans GB, Arial, Helvetica, "微软雅黑", sans-serif;
	font-size: 14px;
	color: #878787;
	-webkit-touch-callout: inherit;
	-webkit-user-select: auto;
	background-color: #fff;
	-webkit-font-smoothing: subpixel-antialiased;
}

a {
	color: #878787;
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:hover {
	text-decoration: none;
}

button,
input,
select,
textarea {
	margin: 0;
	padding: 0;
	outline: none;
}

dt,
dd {}

textarea,
input {
	resize: none;
	outline: none;
	border:0;
   -webkit-appearance:none;
   border-radius:0;
}

ul,
ol,
li {
	list-style: none;
}

em {
	font-style: normal;
}

button,
select,
textarea,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}

.video-responsive {
	width: 100%;
	height: 6.2rem;
}

.hide {
	display: none;
}

.show {
	display: block;
}

.round {
	border-radius: 50%;
}

.badge {
	display: inline-block;
	min-width: 0.2rem;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	background-color: #999;
	border-radius: 2em;
}